{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'quote/calculator.css' %}">
    <title>Calculator</title>
</head>

<body>
<header>
    <span id="logo">Oruga</span>
    <span id="phrase">No somos el alquiler de laptops aburrido de siempre</span>

    <nav>
    </nav>
</header>

<main>
    <section class="firstSection">

        <div class="fs_first">
            <h1>Alquiler de laptops para empresas </h1>
            <h2>+ Software de gestión y Help Desk</h2>
            <p id="service">Creamos un software gestión para que puedas solicitar atención técnica en tiempo real, pedir/devolver las laptops rápido y administrar tus alquileres de una manera simple. </p>
            <br>
            <button type="button" id="quoting">Cotiza en 1 clic</button>
            <button type="button" id="ask">Conversar con un asesor</button>


        </div>

        <div class="fs_second">

            <h4>Recibe tu cotización ya!</h4><br>

            <div class="circle one"></div>

            <div class="circle two"></div>

            <form action="/quotePDF/" method="post">
                {% csrf_token %}
                <div class="calculator">
                        <div class="topDiv">
                            <div class="topPhrase">Cuota de alquiler estimada </div>
                            <div class="topField">
                                <div class="price">$65</div>
                            </div>
                            <input type="text" id="rent" name="rent" value="$65">
                        </div>

                        <div class="coreField">

                            <div class="coreField-buttons">
                                <label for="windows">Windows</label>
                                <input type="radio" name="Brand" value="Windows" id="windows" checked>

                                <label for="apple">Apple</label>
                                <input type="radio" name="Brand" value="Apple" id="apple">
                            </div>

                            <div class="coreField-buttons">
                                <label for="buttonI5">Core i5</label>
                                <input type="radio" name="processor" id="buttonI5" class="ProcessorButton" value="core i5" data-laptop-price="650" checked>

                                <label for="buttonI7">Core i7</label>
                                <input type="radio" name="processor" id="buttonI7" class="ProcessorButton" value="core i7" data-laptop-price="1000">
                            </div>

                        </div>

                        <div class="quantity field">
                            <div class="fieldName">Cantidad de laptops</div>
                            <div id="quantityNumber" class="number">10</div>
                            <input type="range" id="quantityRange" name="quantityNumber" min="1" max="100" value="10">
                        </div>

                        <div class="duration field">
                            <div class="fieldName">Duración del alquiler</div>
                            <div id="durationNumber" class="number">6</div>
                            <input type="range" id="durationRange" name="durationNumber" min="1" max="36", value="6">
                        </div>

                        <button type="submit" class="quoteButton">Envíame la cotización</button>
                </div>
            </form>
        </div>
    </section>
</main>

<br><br>


<footer>

<p>Prueba</p>

</footer>
<script type="text/javascript" src="{% static 'quote/calculator.js' %}"></script>
</body>
</html>