{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
<link rel="stylesheet" type="text/css" href="{% static 'quote/main.css' %}">


<title>Contact Page</title>

</head>

<body>


<link rel="stylesheet" type="text/css" href="{% static 'quote/main.css' %}">

<!--
<h1>Cotizador web</h1>

<form action="your-contact/" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Enviar">
    </form>
<img src="{% static 'quote/laptop.jpg' %}" alt="laptop"



<br>
<br>
<div class="dropdown">
  <button class="dropbtn">Dropdown</button>
  <div class="dropdown-content">
    <a href="https://www.chess.com/">Link 1</a>
    <a href="https://lichess.org/">Link 2</a>
    <a href="https://es.wikipedia.org/wiki/Wikipedia:Portada">Link 3</a>

  </div>
</div>
-->



<div class="calculator-grid">
    <div class="output">
        <div data-previous-operand class="previous-operand"></div>
        <div data-current-operand class="current-operand"></div>
    </div>

    <button data-all-clear class="span-two">AC</button>
    <button data-delete>DEL</button>
    <button data-operation>÷</button>
    <button data-number >1</button>
    <button data-number>2</button>
    <button data-number>3</button>
    <button data-operation>*</button>
    <button data-number>4</button>
    <button data-number>5</button>
    <button data-number>6</button>
    <button data-operation>+</button>
    <button data-number>7</button>
    <button data-number>8</button>
    <button data-number>9</button>
    <button data-operation>-</button>
    <button data-number>.</button>
    <button data-number>0</button>
    <button data-equals class="span-two">=</button>
</div>


<!--
<label id="lap_quantity" for="lap_quantity">Cantidad de laptops</label>
<input id="lap_quantity" type="text"><br>
<label for="lap_duration">Duración del alquiler</label>
<input id="lap_duration" type="text"><br>
<input type="submit">
-->

<script type="text/javascript" src="{% static 'quote/main.js' %}"></script>
</body>

</html>
