{% load static %}

<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'quote/home.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cotizador Web</title>
</head>
<body>

<form action="" method="post">
    {% csrf_token %}
<input type="radio" id="huey" name="drone" value="huey" data-radio="huey value" >
<input type="radio" id="dewey" name="drone" value="dewey" data-radio="dewey value" checked>
<input type="radio" id="louie" name="drone" value="louie" data-radio="louie value" >
    <input type="submit" value="submit">
</form>

<p></p>





<script type="text/javascript" src="{% static 'quote/home.js' %}"></script>
</body>

</html>