*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    color: black;

}

body {
    width: 100%;
    min-height: 100vh;
    background: /*linear-gradient(to right top, #D9AFD9, #97D9E1);*/ white
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50px auto auto;
    grid-template-areas:
    'header'
    'main'
    'footer';
}

.form_test {
    grid-area: footer;
}

.label_test {
    width: 30%;
    font-size: 30px;
}

#name {
    height: 30px;
    width: 100px;
    background: white;
    color: black;
}

#password {
    height: 30px;
    width: 100px;
    background: white;
    color: black;
}

header {
    grid-area: header;
    height: 50px;
    width: 100%;
    background: rebeccapurple;
    padding: 15px;
    margin: 0 0;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color: white;
}

#phrase {
    margin-left: 20px;
    color: white;
    font-weight: bolder;
}

main {
    margin: 50px;
    grid-area: main;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    'firstSection'
    'SecondSection'
    'ThirdSection';
}

footer {
    grid-area: footer;
    height: 100%;
    width: 100%;

}

.firstSection{
    width: 100%;
    grid-area: firstSection;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

.fs_first {
    grid-column: 1 / 2;
}

.fs_second {
    grid-column: 2 / 3;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.firstSection .fs_first h1 {
    color: purple;
    font-size: 45px;
    font-weight: bold;
    margin: 15px 45px 0px 15px;
    padding: 10px;
    width: 80%;
}

.firstSection .fs_first h2 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin: 15px 0px 25px 15px;
    padding: 5px;
    width: 80%;
}

.firstSection .fs_first #service {
    width: 70%;
    font-size: 20px;
    color: rebeccapurple;
    margin: 45px 0 15px 25px;


}

.firstSection .fs_first #mision {
    width: 70%;
    font-size: 20px;
    color: rebeccapurple;
    margin: 15px 0 15px 25px;
}


.fs_second h4{
    position: relative;
    color: purple;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding: 15px;
    z-index: 100;
    grid-column: 1;

}

.circle {
    height: 150px;
    width: 150px;
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255, 255, 255, 0.4),
            rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(1px);
    border-radius: 50%;
    position: absolute;
    z-index: 10;
}

.circle.one {
    top: 10%;
    right: 10%;
}

.circle.two {
    bottom: -10%;
    left: 10%;
}

.calculator {
    position: relative;
    z-index: 100;
    margin-top: 5px;
    box-shadow: 0 0 15px 0 rgba(0,0,50,0.2);
    background: white;
    background: linear-gradient(
            to right bottom,
            rgba(255,255,255,0.5),
            rgba(255,255,255,0.2));
    backdrop-filter: blur(5px);
    height: 450px;
    width: 250px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1.15fr 0.8fr repeat(2,1fr) 0.8fr;
    grid-template-areas:
    "topDiv topDiv"
    "corebuttons corebuttons"
    "quantity quantity"
    "duration duration"
    "quotation quotation";

}

.topDiv {
    grid-area: topDiv;
    height: 130px;
    margin: -15px 15px 2px 15px ;
    background: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));
    color: white;
    border-radius: 20px;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 15px 0 0 0;
}

.price {
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.price::after{
    content: "/laptop";
    font-size: 10px;
    font-weight: normal;
}

#rent {
    -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
    display: none;

}

.coreField {
    grid-area: corebuttons;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
}

.coreField-buttons {
    margin: 5px;

}

.coreField-buttons label {
    margin-left: 10px;

}

.coreField-buttons input {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: 1px solid rebeccapurple;
}

.coreField-buttons input:active:focus {
    background: purple;

}


/*
.ProcessorButton {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

}

.ProcessorButton::after {
  content: "";
  position: absolute;
  height: auto;
  width: auto;
  background: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));;
    font-size: 18px;
    padding: 3px;
    color: white;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    transform: translateX(-50%);

}

.ProcessorButton:hover::after {
  background: rebeccapurple;
}

.ProcessorButton:checked::after {
  background: linear-gradient(
            to right top,
            rgba(145,61,136,0.9),
            rgba(154,18,179,0.7));;
    border: solid  1px rebeccapurple;
}



#buttonI5::after {
  content:"Core i5";
}

#buttonI7::after {
  content:"Core i7";
}


.button {
    background: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));;
    font-size: 18px;
    padding: 3px;
    color: white;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
}
*/

.quantity.field {
    grid-area: quantity;
}

.field {
    display: grid;
    grid-template-columns: 1.5fr 0.3fr;
    grid-template-rows: 0.8fr 1fr;
    margin: 2px 15px;

}

.number {
    background: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: white;
}

.field input{
    -webkit-appearance: none;
    background: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));
    height: 3px;
    width: 80%;
    margin: 0px 0 0 1px;
    outline: none;
}


.field input::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: linear-gradient(
            to right top,
            rgba(240,45,255,0.95),
            rgba(128,43,226,0.85));
    border: 1px solid whitesmoke;

}


.field input::-webkit-slider-runnable-track{
    -webkit-appearance: none;


}

.duration.field {
    grid-area: duration;
}

.quoteButton {
    grid-area: quotation;
    background-image: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));
    color: white;
    margin: 20px 30px 20px 30px;
    padding: 5px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quoteButton:hover {
    background: blue;
}

#buttonI5Text {
    display: none;

}

#quoting {
     background-image: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));
    color: white;
    margin-left: 10%;
    padding: 5px;
    border: none;
    border-radius: 10px;

}

#ask {
     background-image: linear-gradient(
            to right top,
            rgba(240,45,255,0.9),
            rgba(128,43,226,0.7));
    color: white;

    padding: 5px;
    border: none;
    border-radius: 10px;

}